@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* import google font */
/* * for all */
* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;    
    font-weight: 500;
    font-style: normal; 
}

/* Header */
header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
header h1 {
    transition: transform 0.5s ease; /* Smooth transition for the image */
}
header h1:hover {
    transform: translateY(30px); /* Moves down the text 30px when hovered */
    cursor: pointer;
} 

/* Nav */
nav ul {
    list-style: none; /* no dot before text */
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex; /* Use flexbox for making all items in a row */
    justify-content: space-between; /* Space between items */
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    background-color: #474545;  /* change cursor style */
    border-radius: 0.5em;
}
nav img {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease; /* Smooth transition for the image */
}
nav img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
} 
nav a {
    padding: 0.3em;
    margin: 0%;
}

/* Main */
main {
    padding: 20px;
    /*display: flex; /* Using flex to manage layout */
    /*flex-wrap: wrap; /* Allow flex items to wrap */
    /*height: auto; /* Change height to auto for responsiveness */
}
section {
    padding: 1em;
}

/* Name of menu list */
.section-container .title-menu > * { /* title menu container*/
/* (>*) Select all direct child elements of the current parent element. */
    margin-top: 0%;
	width: 32em;
	height: 6em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
	background-color: rgb(222, 231, 248);
	position: relative;
	left: 0%;
	transition: background-color 2.5s, left 4s;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 5px 15px;  
}
.title-name {
    transition-timing-function: ease-in;
}
.title-name:hover {
    cursor: pointer;
}
.title-name h2 {
    padding: 1em;
}
.title-menu img {
    width: 60px;
    height: 60px;
}
.title-menu:hover > * {
	background-color: rgb(81, 8, 124);
}
.title-menu:hover .title-name {
    left: 70%;
}
.grow {
    transform: scale(1.2); /* Making the element grow in size */
    transition: all 0.3s ease; /* Smooth transition for the change */
}

/* Om Konferensen menu */
.about-web img {
    margin: 5px 0 0 100px; /* top, right, bottom, left */
    width: 50px;
    height: 50px;
}
.section-container .about-conference {
    margin: 30px; 
    padding: 20px;
    font-size: large;
    line-height: 3em;
    box-shadow: rgba(243, 168, 5, 0.35) 5px 5px 15px;
    border-radius: 0.5em;
} 
.section-container .about-conference:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.164);
    transform: translateY(15px); /* Moves the image 15px to go down when hovered */
}

/* Seminarier menu */
section p {
    padding-top: 1em;
}
.section-container .about-seminars {
    font-size: x-large; 
    text-align: center;
    margin-top: 0%;
}
.section-container .seminarier-box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.seminarier-box .seminarier-box1 {
    text-align: center;
    flex-grow: 1; /* making box as the same size */
} 
.section-container .seminarier-box2 { 
   padding: 1em;
   font-size: medium;
   box-shadow: rgba(250, 2, 2, 0.35) 0px 5px 15px;
   border-radius: 1em;
   text-align: start;
   line-height: 2.5em;
   width: 500px;
}
.section-container .seminarier-box2:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.171);
}

/* Anmälan menu */
.signup-container {
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
}
.signup-form {
    width: 300px;
    padding: 2em;
}
.signup-form, .food-form { /* signup & food form */
    margin: 0.5em;
    flex-grow: 1; 
    line-height: 1em; 
}
.food-form {
    width: 30%;
    padding-left: 3em;
}
section .img-food {
    width: 50px; 
    height: 50px;
    padding: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.allergies-text {
    margin: 0;
    display: flex;
    justify-content: space-between;   
}
.allergies-text1 {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.5em;
}
.allergies-text1 img {
    width: 150px;
    height: 130px;
    transition: transform 0.5s ease; /* Smooth transition for the image */
}
.allergies-text1 img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
}

textarea { /* Allergies text-box */
    width: 25em;
    height: 10em;
    border-radius: 0.5em;
    background-color: #76d3f731;
}
button {/* food allergies button */
    padding: 10px 15px;
    background-color: #76d2f7;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
    background-color: #097dac;
}
.food-form button {
    margin: 2em;
}
.signup-container form {
    line-height: 2em;
}
.allergies-text1 h3 {
    color: red;
}

/* Anmälan & Error message & Checkbox */
input:invalid, textarea:invalid {
    background-color: ivory;
    border-color: red;
}
.error-message {
    display: none;
    color: red;
}
input:invalid + .error-message,
textarea:invalid + .error-message {
    display: block;
}
.signup a {
    text-decoration: none;
    color: rgb(70, 70, 182);
    border: rgb(70, 70, 182) solid 2px;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

/* Priser för biljetter */
section .price-form { /* Tickets price & details container */
    display: flex;
    justify-content: space-between;
}
.ticket-price { /* Tickets container */ 
    width: 20em;
}
.ticket {
    border-radius: 5px;
    line-height: 1.8em;
    padding: 1em;
    margin: 1em;
    margin-bottom: 10px;
    box-shadow: rgba(217, 171, 221, 0.35) 0px -50px 36px -28px inset;
}
.price-ticket, .ticket-included h3 {
    font-weight: bold;
    color: #f6a4a2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
.ticket:hover {
    cursor: pointer;
    background-color: #4b464a18;
}
.ticket-buying-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-label { /* checkbox */
    /*display: flex;
    justify-content: flex-start;
    align-items: center; */
    margin-bottom: 10px; /* Add spacing between each checkbox */
}
input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
}
input[type="submit"] {
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}
input[type="submit"]:hover {
    background-color: #858080;
}
.ticket-included {
    width: 450px;
    margin: 2em;
    padding: 1em;
    line-height: 3em;
    height: 100%;
}
.ticket-included img {
    width: 50px;
    height: 40px;
    transition: transform 1s ease; /* Smooth transition for the image */
}
.ticket-included img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
} 

/* Contact */
section .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
}
.contact-betterweb {
    font-size: x-large;
    grid-column: 1 / 3;
    justify-self: center;
}
.contact-info {
    grid-column: 1;
}
.organizer {
    grid-column: span 2; /* Spanning both columns */
}
.social-media {
    grid-column: 2; 
}
.contact-betterweb, .contact-info, .organizer, .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}
.contact-info img {
    width: 50px;
    height: 50px;
} 
section a {
    text-decoration: none;
    color: gray;
}
section ul {
    list-style-type: none; /* Removes the bullets from the ul */
    padding: 0; 
    margin: 0; 
}
section li {
    margin-bottom: 10px; 
}
.person img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}
.organize { /* Organizer container */
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.person {
    padding: 1em;
    margin: 1em;
    text-align: center;
    box-shadow: rgba(194, 149, 3, 0.35) 0px 5px 15px;
    border-radius: 2em;
}
.person:hover {
    background-color: rgba(128, 128, 128, 0.219);
}
.person img:hover {
    transform: translateY(20px); /* Moves the image 20px to go down when hovered */
    cursor: pointer;
}
.social-media { /* Social media container */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
}
.social-media img {
    width: 40px;
    height: 40px;
}

/* Footer */
footer {
    background-color: pink; 
    text-align: center; 
    padding: 10px; 
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Position it at the bottom */
    left: 0; /* Stretch to the left */
    width: 100%; /* Full width */
}
.home-button {
    background-color: black; 
    border: none; /* No border */
    color: white; /* White text */
    padding: 10px 20px; 
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: x-large;
    margin: 0; 
    border-radius: 8px; 
    transition: background-color 0.3s; /* Transition for hover effect */
}
.home-button:hover {
    background-color: red; 
    cursor: pointer;
}


/* Responsiv design */
@media (max-width: 768px) /* 786px for mobile screen */ {

    /* Header */
    header {
        padding: 10px;
        margin: 10px;
        width: auto;
        height: 150px;
    }
    header h1 {
        margin: 10px;
        font-size: 10vw; /* Larger font size for mobile screens */
    }
    /* Main */
    main {
        /*flex-direction: column; /* column layout */
        width: 80px;
    } 
    /* nav */  
    nav { /* left nav menu */
        transform: translateX(-100%); /* Hide the left menu(nav) from screen */
        width: 200px; /* Reduce width for mobile screens */
        /*height: auto;
        /*height: 100%; /* Full hight menu */
        /*position: relative; /* Relative to stuck with main */
    }
    nav.open {
        transform: translateX(0); /* Show the left menu(nav) when open */
    }
    nav ul li {
        font-size: large; 
        text-align: center;
    }
    .title-menu img {
        width: 100px; 
        height: auto; 
    }
    .section-container .about-conference,
    .section-container .about-seminars {
        font-size: medium; /* Smaller text size for mobile screens */
    }
    /* Om Konferense */
    .about-web img { /* Reduce them for mobile screens */
        margin-left: 1em; 
        width: 40px; 
        height: 40px;
    }
    .section-container .about-conference { /* Reduce them for mobile screens */
        margin-left: 1em; 
        margin-right: 1em;
        padding: 1em; 
        font-size: medium; 
    }
    /* Seminarier */
    .section-container .about-seminars { /* Reduce them for mobile screens */
        font-size: large; 
    }
    .section-container .seminarier-box2 {
        width: 90%; 
    }
}