
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* import google font */
* { /* "*" for all */
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;    
    font-weight: 500;
    font-style: normal; 
}

/* Header */
header {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: xx-large;
}
header h1 {
    transition: transform 0.5s ease;
    display: flex;
}
header h1:hover {
    transform: translateY(30px); /* Moves down the text 30px when hovered */
    cursor: pointer;
} 

/* Main */
main {
    padding: 20px;
    display: flex; /* Using flex to manage layout */
    width: 100%;
    flex-wrap: wrap; /* Allow flex items to wrap */
    height: auto; /* Change height to auto for responsiveness */
}
section {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    padding: 1rem;
}
.section-container {
    flex: 2; /* flex box 2 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-sizing: border-box; /* the size doesn't change when padding/border are added */  
}

/* Side navigation (Left menu) */
.side-nav { 
    width: auto;  
    font-size: large;
    position: fixed; 
    left: 0%;
    top: 0%;  
    margin: 20px;
    padding: 20px;
}
.side-nav ul {
    list-style: none; /* no dot before text */
    padding: 0;
    margin: 0;
}
.side-nav ul li {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;  
}
.side-nav ul a {
    text-decoration: none;
    display: block; /* to covering all */
    color: white;
}
.side-nav ul li a:hover {
    background-color: #474545;  /* change cursor style */
    border-radius: 10px;
    color: white;
}
.side-nav img {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease; /* Smooth transition for the image */
}
.side-nav img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
} 
.side-nav a {
    padding: 0;
    margin: 0%;
}

/* Name of menu list */
.section-container .title-menu > * { /* title menu container*/
/* (>*) Select all direct child elements of the current parent element. */
    margin-top: 0%;
    width: 100%;
    max-width: 340px;
    height: 6em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    background-color: rgb(222, 231, 248);
    position: relative;
    left: 0%;
    transition: background-color 2.5s, left 4s;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 5px 15px;  
}
.title-name {
    transition-timing-function: ease-in;
}
.title-name:hover {
    cursor: pointer;
}
.title-menu img {
    width: 60px;
    height: 60px;
}
.title-menu:hover > * {
    background-color: rgb(81, 8, 124);
}
.title-menu:hover .title-name {
    left: 65%;
}
.grow {
    transform: scale(1.2); /* Making the element grow in size */
    transition: all 0.3s ease; /* Smooth transition for the change */
}

/* Om Konferensen menu */
.about-web { /* container */
    max-width: 100%;
    margin: 20px;
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}

.about-web img { 
    width: 50px;
    height: 50px;
}
.about-conference {
    margin: 20px;
    padding: 30px;
    font-size: large;
    line-height: 40px;
    box-shadow: rgba(243, 168, 5, 0.35) 5px 5px 15px;
    border-radius: 10px;
    width: 50%;
} 
.section-container .about-conference:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.164);
    transform: translateY(15px); /* Moves the image 15px to go down when hovered */
}

/* Seminarier menu */
section p {
    padding-top: 1em;
}
.section-container .about-seminars {
    font-size: x-large; 
    text-align: center;
    margin-top: 0%;
}
.section-container .seminarier-box {
    display: grid;
    grid-gap: 20px;
}
.seminarier-box .seminarier-box1 {
    text-align: center;
    flex-grow: 1; /* making box as the same size */
} 
.section-container .seminarier-box2 { 
   padding: 1em;
   font-size: medium;
   box-shadow: rgba(250, 2, 2, 0.35) 0px 5px 15px;
   border-radius: 1em;
   text-align: start;
   line-height: 2.5em;
   width: 100%;
   max-width: 500px;
}
.section-container .seminarier-box2:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.171);
}

/* Anmälan menu */
.signup-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.signup-form, .food-form { /* Signup-form */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.food-form {
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.food-form fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.food-form form {
    width: 80%;
    padding-top: 20px;
}
.food-form .submit {
    width: 50%;
}
section .img-food {
    width: 50px; 
    height: 50px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #918c8c;
    border-radius: 4px;
}
.signup-container input, textarea {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.allergies-text {
    display: flex;
    justify-content: space-between; 
    width: 80%;
    margin: 20px;
    padding: 20px;
    line-height: 25px;
}
.allergies-text1 img {
    width: 150px;
    height: 130px;
    transition: transform 0.5s ease; /* Smooth transition for the image */
}
.allergies-text1 img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
}
textarea { /* Allergies text-box */
    width: 50%;
    height: 200px;
    border-radius: 5px;
    background-color: #76d3f731;
}
button {/* food allergies button */
    padding: 10px 15px;
    background-color: #76d2f7;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
    background-color: #097dac;
}
.food-form button {
    margin: 20px;
}
.signup-container form {
    line-height: 25px;
    margin-bottom: 20px;
}
.allergies-text1 h3 {
    color: red;
}
/* Anmälan & Error message & Checkbox */
input:invalid, textarea:invalid {
    background-color: ivory;
    border-color: red;
}
.error-message {
    display: none;
    color: red;

}
input:invalid + .error-message,
textarea:invalid + .error-message {
    display: block;
}
.signup a {
    text-decoration: none;
    color: rgb(70, 70, 182);
    border: rgb(70, 70, 182) solid 2px;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}
/* Priser för biljetter */
section .price-form { /* Tickets price & details container */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ticket-price { /* Tickets container */ 
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.ticket {
    border: 2px rgba(211, 149, 206, 0.932) solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(160, 105, 165, 0.719) 0px -50px 36px -28px inset;
}
.price-ticket, .ticket-included h3 {
    font-weight: bold;
    color: #db87d0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border: 2px solid rgb(187, 118, 175);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.ticket:hover {
    cursor: pointer;
    background-color: #4b464a18;
}
.ticket-buying-container {
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.checkbox-label { /* checkbox */
    margin-bottom: 10px; /* Add spacing between each checkbox */
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
}
input[type="submit"] {
    color: white;
    background-color: #653d6d;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    box-shadow: rgba(18, 18, 19, 0.2) 0px 7px 29px 0px;
}
input[type="submit"]:hover {
    background-color: gray;
}
.ticket-included {
    width: 50%;
    margin: 20px;
    padding: 20px;
    line-height: 30px;   
}
.ticket-included p {
    font-size: x-large;
    color: #653d6d;
}
.ticket-included img {
    width: 50px;
    height: 40px;
    transition: transform 1s ease; /* Smooth transition for the image */
}
.ticket-included img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
} 

/* Contact menu */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.contact-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 500px;
}
.contact-container h2 {
    color: #fdbe11; 
    font-size: xx-large;    
}
.contact-betterweb { /* text "Bättre Webb 2024" */
    justify-self: center;
    font-size: xx-large;
}
.contact-info img, .social-media img {
    width: 50px;
    height: 50px;
} 
section a {
    text-decoration: none;
    color: gray;
}
section ul {
    list-style-type: none; /* Removes the bullets from the ul */
    padding: 0; 
    margin: 0; 
}
section li {
    margin-bottom: 10px; 
}
.person img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}
.organizer { /* Organizer container */
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}
.organizer-title {
    margin-bottom: 20px;
    text-align: center;
    color: #fdbe11; 
    font-size: xx-large;
}
.person {
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(194, 149, 3, 0.35) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    max-width: 400px;
}
.person:hover {
    background-color: rgba(128, 128, 128, 0.219);
}
.person img:hover {
    transform: translateY(20px); /* Moves the image 20px to go down when hovered */
    cursor: pointer;
}




/* Responsiv design */
@media (max-width: 870px) {
    header {
        flex-direction: row;
    }
    main {
        padding: 0;
    }
}