@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* import google font */
/* * for all */
* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;    
    font-weight: 500;
    font-style: normal; 
}

/* Header */
header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px; 
    width: 100%;
}
header h1{
    margin: 20px;
    font-size: xx-large;
    transition: transform 0.5s ease; /* Smooth transition for the image */
}
header h1:hover{
    transform: translateY(30px); /* Moves down the text 30px when hovered */
    cursor: pointer;
} 

/* Nav */
nav {
    padding: 0 40px 0 40px; /* top, right, bottom, left */
}
nav ul {
    list-style: none; /* no dot before text */
    margin-top: 60px 60px 0 60px; /* top, right, bottom, left */
    display: flex; /* Use flexbox for making all items in a row */
    justify-content: space-between; /* Space between items */
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    background-color: #474545;  /* change cursor style */
    border-radius: 0.5em;
}
nav img {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease; /* Smooth transition for the image */
}
nav img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
} 
nav a {
    padding: 0.3em;
    margin: 0%;
}

/* Main */
main {
    padding: 20px;
}
section {
    padding: 1em;
}

/* Name of menu list */
.section-container .title-menu > * { /* title menu container*/
/* (>*) Select all direct child elements of the current parent element. */
    margin-top: 0%;
	width: 32em;
	height: 6em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
	background-color: rgb(222, 231, 248);
	position: relative;
	left: 0%;
	transition: background-color 2.5s, left 4s;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 5px 15px;  
}
.title-name {
    transition-timing-function: ease-in;
}
.title-name:hover {
    cursor: pointer;
}
.title-name h2 {
    padding: 1em;
}
.title-menu img {
    width: 60px;
    height: 60px;
}
.title-menu:hover > * {
	background-color: rgb(81, 8, 124);
}
.title-menu:hover .title-name {
    left: 70%;
}
.grow {
    transform: scale(1.2); /* Making the element grow in size */
    transition: all 0.3s ease; /* Smooth transition for the change */
}

/* Om Konferensen menu */
.about-web {
    margin-top: 30px;
}
.about-conference {
    margin: 30px 100px 55px 100px; /* top, right, bottom, left */
    padding: 20px 30px 20px 30px;
    font-size: large;
    line-height: 3.3em;
    box-shadow: rgba(243, 168, 5, 0.548) 5px 5px 15px;
    border-radius: 20px;
    border: 1px solid #fdbe11;
} 
.about-conference img {
    width: 50px;
    height: 50px;
}
.about-conference:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.171);
    transform: translateY(20px); /* Moves the image to go down when hovered */
}

/* Seminarier menu */
section p {
    padding-top: 1em;
}
.about-seminars {
    font-size: x-large; 
    text-align: center;
    margin-top: 0%;
}
.seminarier-box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 20px;
    padding: 20px;
}
.seminarier-box1 {
    text-align: center;
    flex-grow: 1; /* making box as the same size */
    margin: 10px;
} 
.seminarier-box2 { 
   padding: 1em;
   font-size: medium;
   box-shadow: rgba(250, 2, 2, 0.35) 0px 5px 15px;
   border-radius: 1em;
   text-align: start;
   line-height: 2.5em;
   width: 500px;
}
.seminarier-box2:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.171);
}

/* Anmälan menu */
.signup-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.signup-form {
    width: 200px;
    padding: 10px 30px 10px 30px; /* top, right, bottom, left */
}
.signup-form, .food-form { /* signup & food form */
    margin: 0.5em;
    flex-grow: 1; 
    line-height: 1em; 
}
.food-form {
    width: 30%;
    padding-left: 3em;
}
section .img-food {
    width: 50px; 
    height: 50px;
    padding: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.allergies-text {
    margin: 0;
    display: flex;
    justify-content: space-between;   
}
.allergies-text1 {
    margin: 10px; /* top, right, bottom, left */
    line-height: 1.5em;
}
.allergies-text1 img {
    width: 130px;
    height: 100px;
    padding-top: 20px;
    transition: transform 0.5s ease; /* Smooth transition for the image */
}
.allergies-text1 img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
}

textarea { /* Allergies text-box */
    width: 25em;
    height: 10em;
    border-radius: 0.5em;
    background-color: #76d3f731;
}
button {/* food allergies button */
    padding: 10px 15px;
    background-color: #76d2f7;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
    background-color: #097dac;
}
.food-form button {
    margin: 2em;
}
.signup-container form {
    line-height: 1.8em;
}
.allergies-text1 h3 {
    color: red;
}

/* Anmälan & Error message & Checkbox */
input:invalid, textarea:invalid {
    background-color: ivory;
    border-color: red;
}
.error-message {
    display: none;
    color: red;
}
input:invalid + .error-message,
textarea:invalid + .error-message {
    display: block;
}
.signup a {
    text-decoration: none;
    color: rgb(70, 70, 182);
    border: rgb(70, 70, 182) solid 2px;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

/* Priser för biljetter */
.price-form { /* Tickets price & details container */
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 100px; /* top, right, bottom, left */
}
.ticket-price { /* Tickets container */ 
    width: 400px;
}
.ticket {
    border-radius: 5px;
    line-height: 1.8em;
    padding: 15px;
    margin: 25px;
    margin: 20px 10px 20px 10px; /* top, right, bottom, left */
    box-shadow: rgba(217, 171, 221, 0.35) 0px -50px 36px -28px inset;
}
.price-ticket, .ticket-included h3 {
    font-weight: bold;
    color: #f6a4a2;
    box-shadow: rgba(100, 100, 111, 0.459) 0px 7px 29px 0px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.582);
}
.ticket:hover {
    cursor: pointer;
    background-color: #4b464a18;
}
.ticket-buying-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-label { /* checkbox */
    margin-bottom: 10px; /* Add spacing between each checkbox */
}
input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
}
input[type="submit"] {
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}
input[type="submit"]:hover {
    background-color: #858080;
}
.ticket-included {
    width: 450px;
    margin: 2em;
    padding: 1em;
    line-height: 3em;
    height: 100%;
}
.ticket-included img {
    width: 50px;
    height: 40px;
    transition: transform 1s ease; /* Smooth transition for the image */
}
.ticket-included img:hover {
    transform: translateX(20px); /* Moves the image 20px to the right when hovered */
    cursor: pointer;
} 

/* Contact */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    padding: 10px 0 10px 0; /* top, right, bottom, left */
}
.contact-betterweb {
    font-size: x-large;
    grid-column: 1 / 3;
    justify-self: center;
    margin: 20px;
}
.contact-info {
    grid-column: 1;
    font-size: medium;
    padding: 10px; 
    margin: 20px;
}
.organizer {
    grid-column: span 2; /* Spanning both columns */
}
.social-media {
    grid-column: 2; 
    padding-left: 180px;
}
.contact-betterweb, .contact-info, .organizer, .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}
.contact-info img {
    width: 50px;
    height: 50px;
} 
section a {
    text-decoration: none;
    color: gray;
}
section ul {
    list-style-type: none; /* Removes the bullets from the ul */
    padding: 0; 
    margin: 0; 
}
section li {
    margin-bottom: 10px; 
}
.person img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}
.organize { /* Organizer container */
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.person {
    padding: 20px;
    margin: 0 10px 20px 10px; /* top, right, bottom, left */
    text-align: center;
    box-shadow: rgba(194, 149, 3, 0.35) 0px 5px 15px;
    border-radius: 2em;
}
.person:hover {
    background-color: rgba(128, 128, 128, 0.219);
}
.person img:hover {
    transform: translateY(20px); /* Moves the image 20px to go down when hovered */
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center; 
    padding: 10px; 
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Position it at the bottom */
    left: 0; /* Stretch to the left */
    width: 100%; /* Full width */
    background-color: black;
}
.home-button {
    background-color: #fdbe11; 
    color: black; 
    border: none; 
    padding: 10px; 
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: x-large;
    margin: 20px 20px 10px 10px; /* top, right, bottom, left */
    border-radius: 8px; 
    transition: background-color 0.3s; /* Transition for hover effect */
    box-shadow: rgba(252, 250, 250, 0.849) 0px 5px 15px;
}
.home-button:hover {
    background-color: red; 
    cursor: pointer;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-media a {
    text-decoration: none;
    color: white;
}
.social-media img {
    width: 30px;
    height: 30px;
}
footer fieldset {
    margin-right: 20px; /* top, right, bottom, left */
}


/* Responsiv design */
@media (max-width: 768px) { /* for taplet */
    /* header */
    header { 
        padding: 15px;
    }
    header h1 {
        font-size: large;
        margin: 15px;
    }
    /* nav */
    nav {
        padding: 0 20px; /* Reduced margin for smaller screens */
    }
    nav ul {
        flex-direction: column; 
        align-items: center;
        margin: 30px 0 0 0; /* top, right, bottom, left */
    }
    nav ul li {
        margin: 5px 0;
    }
    nav img {
        width: 45px;
        height: 45px;
    }
    /* Main and Name of menu list */
    .section-container .title-menu > * {
        width: 24em;
        height: 5em;
        padding: 0.4em;
        margin: 0.5em;
        border-radius: 1em;
    }
    .title-name h2 {
        font-size: 1.2em;
        padding: 0.8em;
    }
    .title-menu img {
        width: 50px;
        height: 50px;
    }
    /* Om Konferensen menu */
    .about-conference {
        margin: 20px 50px 40px 50px; /* top, right, bottom, left */
        padding: 15px 20px; 
        font-size: medium; 
        line-height: 2.5em;
    }
    .about-conference img {
        width: 40px;
        height: 40px;
    }
    /* Seminarier menu */
    .seminarier-box {
        flex-direction: column; 
        height: auto;
        padding: 15px;
    }
    .seminarier-box2 {
        width: 100%; 
        padding: 0.8em;
        font-size: large;
        line-height: 2em;
        margin-bottom: 15px;
    }
    .about-seminars {
        font-size: large;
    }
    /* Anmälan menu */
    .signup-container {
        flex-direction: column; 
        align-items: center;
    }
    .signup-form, .food-form {
        width: 80%; 
        padding: 10px 15px;
    }
    .allergies-text1 img {
        width: 100px;
        height: 80px;
    }
    textarea {
        width: 100%;
        height: 8em;
    }
    /* Anmälan & Error message & Checkbox */
    input:invalid, textarea:invalid {
        background-color: ivory;
        border-color: red;
    }
    .error-message {
        display: none;
        color: red;
    }
    input:invalid + .error-message,
    textarea:invalid + .error-message {
        display: block;
    }
    .signup a {
        text-decoration: none;
        color: rgb(70, 70, 182);
        border: rgb(70, 70, 182) solid 2px;
        border-radius: 5px;
        margin: 1em;
        padding: 1em;
    }
    /* Priser för biljetter */
    .price-form {
        flex-direction: column; 
        margin: 0 20px;
    }
    .ticket-price, .ticket-buying-container {
        width: 90%;
        margin: 10px auto;
    }
    .ticket-included {
        width: 100%;
    }
    /* Contact */
    .contact-container {
        grid-template-columns: 1fr; /* 1 column for taplet */
        padding: 10px;
    }
    .social-media {
        padding-left: 0; 
    }
    .contact-betterweb {
        font-size: large; 
    }
    .person img {
        width: 120px;
        height: 120px; 
    }
    /* Footer */
    .home-button {
        font-size: large; 
        padding: 8px; 
    }
    .social-media img {
        width: 25px;
        height: 25px; 
    }
}

@media (max-width: 480px) { /* for mobile phone */
    /* header */
    header { 
        padding: 10px;
    }
    header h1 {
        font-size: medium;
        margin: 10px;
    }
    /* nav */
    nav {
        padding: 0 10px;
    }
    nav ul {
        margin: 20px 0 0 0; /* top, right, bottom, left */
    }
    nav ul li {
        margin: 3px 0;
    }
    nav img {
        width: 35px;
        height: 35px;
    }
    /* Main and Name of menu list */
    main {
        padding: 10px;
    }
    .section-container .title-menu > * {
        width: 18em;
        height: 4em;
        padding: 0.3em;
        margin: 0.5em;
        border-radius: 0.8em;
    }
    .title-name h2 {
        font-size: 1em;
        padding: 0.5em;
    }
    .title-menu img {
        width: 40px;
        height: 40px;
    }
    /* Om Konferensen menu */
    .about-conference {
        margin: 15px 20px 30px 20px; /* top, right, bottom, left */
        padding: 10px 15px;
        font-size: small;
        line-height: 2em;
        border-radius: 15px;
    }
    .about-conference img {
        width: 30px;
        height: 30px;
    }
    /* Seminarier menu */
    .seminarier-box {
        margin: 10px;
        padding: 10px;
    }
    .seminarier-box2 {
        width: 100%;
        padding: 0.5em;
        font-size: medium;
        line-height: 1.8em;
        border-radius: 0.8em;
    }
    .about-seminars {
        font-size: medium;
    }
    /* Anmälan menu */
    .signup-container {
        margin: 10px;
        padding: 10px;
    }
    .signup-form, .food-form {
        width: 100%;
        padding: 5px;
    }
    .allergies-text1 img {
        width: 80px;
        height: 60px;
    }
    textarea {
        width: 100%;
        height: 6em;
    }
    button {
        padding: 8px 12px;
    }
    /* Anmälan & Error message & Checkbox */
    .error-message {
        font-size: x-small; 
        margin: 0.5em;
    }
    .signup a {
        margin: 0.5em;
        padding: 0.5em;
        font-size: small;
        border-radius: 4px; 
    }
    /* Priser för biljetter */
    .price-form {
        flex-direction: column;
        margin: 0 10px;
    }
    .ticket-price, .ticket-buying-container {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }
    .ticket {
        padding: 10px;
    }
    input[type="submit"] {
        padding: 8px;
        font-size: small; 
    }
    .ticket-included {
        margin: 1em 0;
        padding: 0.5em;
    }
    .ticket-included img {
        width: 40px;
        height: 30px;
    }
    /* Contact */
    .contact-container {
        padding: 5px;
    }
    .contact-betterweb {
        font-size: medium;
    }
    .contact-info, .organizer, .social-media {
        padding: 5px; 
    }
    .person img {
        width: 100px;
        height: 100px;
    }
    /* Footer */
    footer {
        padding: 5px; 
    }
    .home-button {
        font-size: medium; 
        padding: 6px; 
    }
    .social-media {
        flex-direction: column; 
    }
    .social-media img {
        width: 20px;
        height: 20px; 
    }
}