@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* import google font */
/* * for all */
* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
}

/* Header */
header {
    color: white;
    margin: 0%;
    padding: 1em;
    text-align: start; 
    flex-grow: 1;  /* header covers all space */ 
    width: 100%;
    height: 250px;
    display: block;
    background-image: url('img/pacman-header.png');
    background-size: cover; /* Adjust image size to cover the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
header h1 {
    margin-left: 8.6em;
    margin-top: 1em;
    padding: 0%;
    font-size: xxx-large;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}

/* Main */
main {
    padding: 20px;
    display: flex; /* Using flex to manage layout */
    width: 100%;
    height: 100vh;  /* height for full page */
}
section {
    padding-top: 1em;
}
.section-container {
    flex: 2; /* flex box 2 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-sizing: border-box; /* the size doesn't change when padding/border are added */  
    margin-left: 18em;
}
.side-nav { /* Left menu */
    width: 270px;  
    background-color: black;  
    color: white;
    font-size: x-large;
    position: fixed;
    height: 100vh;
    left: 0%;
    top: 0%;
}
.side-nav ul {
    list-style: none; /* no dot before text */
    padding: 0;
    margin: 0;
}
.side-nav ul li {
    padding-inline: 2em;
}
.side-nav ul a {
    text-decoration: none;
    margin: 3em 0; /* space between menu list */
    color: white;
    display: block; /* to covering all */
}
.side-nav ul li a:hover {
    background-color: #474545;  /* change cursor style */
}

/* Name of menu list */
.section-container h2 { /* title menu */
    box-shadow: rgba(2, 98, 187, 0.35) 0px 5px 15px;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
}

/* Om Konferensen menu */
.about-web img {
    margin-left: 10em;
    width: 50px;
    height: 50px;
}
.section-container .about-conference {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 6em;
    margin-right: 6em;
    padding: 2em;
    font-size: large;
    line-height: 3em;
    box-shadow: rgba(199, 147, 4, 0.35) 0px 5px 15px;
} 
/* Seminarier menu */
.section-container .about-seminars {
    font-size: x-large; 
    text-align: center;
    margin-top: 0%;
}
.section-container .seminarier-box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.seminarier-box .seminarier-box1 {
    text-align: center;
    flex-grow: 1; /* making box as the same size */
} 
.section-container .seminarier-box2 {
   margin-left: 5em;
   margin-right: 5em;
   padding: 1em;
   font-size: medium;
   box-shadow: rgba(250, 2, 2, 0.35) 0px 5px 15px;
   border-radius: 1em;
   text-align: start;
}

/* Anmälan menu */
.signup-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.signup-form, .food-form { /* signup & food form */
    margin: 0.5em;
    flex-grow: 1; 
    line-height: 1em; 
}
.food-form {
    width: 30%;
    padding-left: 3em;
}
section .img-food {
    width: 50px; 
    height: 50px;
    padding: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.allergies-text {
    margin: 0;
    display: flex;
    justify-content: space-between;   
}
.allergies-text1 {
    margin: 1em;
}
textarea { /* Allergies text-box */
    width: 25em;
    height: 10em;
    border-radius: 0.5em;
    background-color: ivory;
}
button {/* food allergies button */
    padding: 10px 15px;
    background-color: #76d2f7;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
    background-color: #45a049;
}

/* Anmälan & Error message & Checkbox */
input:invalid, textarea:invalid {
    background-color: ivory;
    border-color: red;
}
.error-message {
    display: none;
    color: red;
}
input:invalid + .error-message,
textarea:invalid + .error-message {
    display: block;
}
.signup a {
    text-decoration: none;
    color: rgb(70, 70, 182);
    border: rgb(70, 70, 182) solid 2px;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}
/* terms & conditions */
label {
    display: flex;
    align-items: center; 
    margin: 1em;
} 

/* Priser för biljetter */
section .price-ticket {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #d9534f;
}
.ticket {
    margin-bottom: 30px;
}

/* Contact */
section a {
    text-decoration: none;
}

/* Responsiv design */
@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }
}